<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>
<!--<body class="container">-->

<header>
    <%- include('partials/header'); %>
</header>

<main>
    <style>
        #div {
            color: black;
            background-color: #78CFB1;
            margin-top: 50px;
            ;


        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto pt-4">
                <h2 class="text-center mb-4">Trust based Admission Process</h2>
                <h3 class="text-center mb-4">Transactions are Transparent, visible and time-stamped</h3>
                <video controls width="100%" loop autoplay muted>
                    <source src="/video" type="video/mp4">
                    Sorry, your browser doesn't support embedded videos.
                </video>
		<h4 class="text-center mb-4">Verify, Validate and add Transactions to the Blockchain</h4>
            </div>
        </div>
    </div>

</main>

<footer>
    <%- include('partials/footer'); %>
</footer>

</body>

</html>
