<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>
<!--<body class="container">-->

<header>
    <%- include('partials/header'); %>
</header>

<main>
    <style>
        #div {
            color: black;
            background-color: #78CFB1;
            margin-top: 50px;
            ;


        }
    </style>
    <div class="jumbotron" id="div">
        <center>
            <h1>Blockchain Based Admission Process</h1>
        </center>
        <h5>Student Comes to Quota Career(Admin)</h5>
        <h5>Admin creates student's Blockchain account which is secured with cryptographic keys</h5>
        <h5>Student gets enrolled in Blockchain</h3>
            <h5>Along with student University person will also get added in Blockchain with their cryptographic identity
                </h3>
                <h5>When Visa and Ticket process starts, agents will be added in the Blockchain</h3>
                    <h5>All the Blockchain participents will write data in the Blockchain throughout the admission
                        process.
                        Information storged in the blockchain is immutable. Mathematically trustable.
                        </h3>
                        <p class="lead">
                        <div class="text-center">
                            <a class="btn btn-warning btn-center" href="https://www.byteblock.io" role="button">Learn
                                more</a>
                            <div>
                                </p>
                            </div>
</main>

<footer>
    <%- include('partials/footer'); %>
</footer>

</body>

</html>