<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>
<!--<body class="container">-->

<header>
    <%- include('partials/header'); %>
</header>

<main>
    <style>
        #div {
            color: black;
            background-color: #78CFB1;
            margin-top: 50px;
            ;


        }
    </style>
    <div class="jumbotron" id="div">
        <center>
            <h1>We Support All Payment Methods</h1>
        </center>
        <center>
            <h3>We provide a wide range of payment options – Credit/Debit cards, Netbanking, EMI, Wallets, and UPI. We
                support Rupay, VISA, MasterCard, and AMEX cards.</h3>
        </center>
        <center>
            <h6> Payment on Quota Career is a 3 step process

                1)Customer chooses online payment
                2)Customer is handed over to Instamojo and sees various payment options
                3)Customer chooses a payment option and completes payment
                After payment, the customer is redirected back to your app/website. <h6>
                    <center>
                        <center>
                            <p>Our Payment Partner</p>
                        </center>
                        <a href="https://www.instamojo.com">instamojo</a>
    </div>
</main>

<footer>
    <%- include('partials/footer'); %>
</footer>

</body>

</html>